@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Montserrat:wght@400;600;700&family=Raleway:wght@400;600;700&family=Lato:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap');


/*
* Poppins: For headers or areas needing modern and clean typography.
* Montserrat: Great for sleek and bold headings.
* Raleway: Use for elegant and professional headings or subheadings.
* Lato: A friendly and approachable font, good for body text.
* Open Sans: Neutral and highly readable, excellent for general content.
*/


:root{
  --black: #000;
  --yellow: #FFD700;
  --white: #FFF;
  --blue: #1E90FF;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black);
}
